<%= form_for @know, :html => { :class => "form-horizontal know" } do |f| %>

  <% if @know.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@know.errors.count, "error") %> prohibited this know from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @know.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :タイトル, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
    <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :社名, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
    <%= f.text_field :company, :class => 'form-control' %>
    </div>
    <%=f.error_span(:company) %>
  </div>
  <div class="form-group">
    <%= f.label :内容, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
<%#      <%= f.text_field :body, :class => 'form-control' %>
<%#      <%= f.text_area :body, :value => "【問題】\n【対応】", :class => 'form-control', :size=>"200x10" %>
      <%= f.text_area :body, :class => 'form-control', :size=>"200x10" %>
    </div>
    <%=f.error_span(:body) %>
  </div>

    <!-- 追加箇所 開始 -->
  <div class="field">
    <% if @know.image? %>
      <div class="thumbnail">
        <%= image_tag @know.image.url %>
      </div>
    <% end %><br>
    <%= f.label :画像 %><br>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="field">
    <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <% if @know.persisted? && @know.image? %>
      <label>
        <%= f.check_box :remove_image %>
        画像を削除
      </label>
    <% end %>
  </div>
  <!-- 追加箇所 終了 -->

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                knows_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
